14352 DIALOGEX 20, 20, 275, 198
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About LuckOS"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
   CONTROL 0, 12297, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 21, 55, 21, 20 
   CONTROL "Novixx \xAE LuckOS\r\nVersion 1.0 build 00002", 13568, STATIC, SS_LEFTNOWORDWRAP | SS_NOPREFIX | WS_CHILD | WS_VISIBLE, 70, 55, 165, 19 
   CONTROL "Copyright \xA9 2022 Novixx Systems", 13578, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE, 70, 75, 175, 10 
   CONTROL "", 13581, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE, 70, 85, 145, 20 
   CONTROL "This product is licensed under the terms of the <A>End-User License Agreement</A> to:", 13586, "SysLink", WS_CHILD | WS_VISIBLE, 70, 105, 145, 20 
   CONTROL "user name", 13575, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE, 80, 125, 145, 10 
   CONTROL "org name", 13576, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE, 80, 135, 145, 10 
   CONTROL "", 13095, STATIC, SS_ETCHEDHORZ | WS_CHILD | WS_VISIBLE, 70, 147, 200, 1 
   CONTROL "Physical memory available to LuckOS:", 13570, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE, 70, 152, 130, 10 
   CONTROL "", 13571, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE, 202, 152, 53, 10 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 220, 178, 50, 14 
}
